.Rproj.user
.Rhistory
.RData
.Ruserdata
.vscode
path_to_vendor_data.rds
data-dump-path.rds
src-i386
src-x64
test.graphml
playground
io-campaigns-twitter
inst/doc
.vignettes
inst/example-data/ufc-tweet-stream.json
inst/example-data/ufc-tweet-stream.json.gz
parquet-tests