# Travis configuration guide for R language:
#   https://docs.travis-ci.com/user/languages/r/
#   https://github.com/craigcitro/r-travis/wiki/Porting-to-native-R-support-in-Travis


language: r
sudo: required
cache: packages

warnings_are_errors: true

os:
  - linux
  - osx

before_install:


jobs:
  include:
  - r: devel
  - r: release
  - r: 3.5
  - r: 3.4
  - r: 3.3
  
addons:
  apt:
    packages:
      - libudunits2-dev
      - libgdal-dev
      
before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install llvm &&
    export PATH="/usr/local/opt/llvm/bin:$PATH" &&
    export LDFLAGS="-L/usr/local/opt/llvm/lib" &&
    export CFLAGS="-I/usr/local/opt/llvm/include"; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo ldconfig; fi
  - R -e 'install.packages("rgdal", repos="http://R-Forge.R-project.org")'

after_success:
  - Rscript -e 'covr::codecov()'
